<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Base.html{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="static/css/main.css"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  </head>

  <body>
    <!-- HEADER -->
    <div class="header-container">
      <div class="header">
        <a class="title-container" href="">
          <div id="logo">
            <img src="static/images/logo.png"/>
          </div>
          <div class="title">
            Josua Teufel
          </div>
        </a>
        <div class="navigation-container">
          <a class="nav-item" href="">Home</a>
          <a class="nav-item" href="about.html">About</a>
        </div>
      </div>
    </div>


    {% block main %}
      lul
    {% endblock %}

    <!-- FOOTER -->
    <div class="footer">
      <div class="footer-main">
        <div class="copyright">
          &copy; Copyright 2021  Josua Teufel
        </div>
      </div>
    </div>

  </body>
</html>
